body {
	background-color: rgba(32, 32, 33, 0.79);
}

.widget {
	padding: 20px;
	width: 700px;
	height: 750px;
	background-color: #424242;
	margin: 0 auto;
	border-radius: 25px;
	overflow-y: auto;
	font-size: 16px;

}

.post {
	padding: 10px;
	border: 1px solid rgba(32, 32, 33, 0.79);
	border-radius: 25px;
	margin-bottom: 25px;
}

.time {
	color: #828282;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: 15px;
}



img {
	display: inline-block;
}

.image {
	width: 510px;
	max-height: 510px;
	margin: 0 auto;
}

.image img {
	max-height: 510px;
	display: block;
	object-fit: cover;
}

li,
.view {
	all: unset;
	background-color: #333333;
	padding: 5px 10px;
	color: white;
	border-radius: 15px;
	display: flex;
	gap: 8px;
	align-items: center;
}

ul {
	display: flex;
	padding: 0;
	align-items: center;
	gap: 15px;
	width: 50%;
	margin: 0;
}

.line {
	margin-top: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}