* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

body {
	height: 100vh;
	background: #DAEDFB;
}

html {
	font-size: 16px;
}

.wrapper {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.container {
	width: 70vmin;
	height: 70vmin;
	display: flex;
	flex-wrap: wrap;
	gap: 2vmin;
}

.button-option {
	background: #ffffff;
	height: 22vmin;
	width: 22vmin;
	border: none;
	border-radius: 8px;
	font-size: 12vmin;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#restart {
	font-size: 1.3em;
	padding: 1em;
	border-radius: 8px;
	background-color: #0a0027;
	color: #ffffff;
	border: none;
	position: relative;
	margin: 1.5em auto 0 auto;
	display: block;
}

.popup {
	background: #DAEDFB;
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	z-index: 2;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
	font-size: 12vmin;
}

#new-game {
	font-size: 0.6em;
	padding: 0.5em 1em;
	background-color: #0a0027;
	color: #ffffff;
	border-radius: 0.2em;
	border: none;
}

#message {
	color: #ffffff;
	text-align: center;
	font-size: 1em;
}

.popup.hide {
	display: none;
}

.wrapper {
	display: none;
}

.start-page {
	width: 800px;
	padding-top: 100px;
	display: flex;
	gap: 25px;
	margin: 0 auto;
}



/* button */

.start-page button {
	--b: 3px;
	/* border thickness */
	--s: .15em;
	/* size of the corner */
	--c: #BD5532;

	padding: calc(.05em + var(--s)) calc(.3em + var(--s));
	color: var(--c);
	--_p: var(--s);
	background:
		conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
	transition: .3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: .2em;
}

.start-page button:hover,
.start-page button:focus-visible {
	--_p: 0px;
	outline-color: var(--c);
	outline-offset: .05em;
}

.start-page button:active {
	background: var(--c);
	color: #fff;
}



.start-page button {
	min-width: 500px;
	font-family: system-ui, sans-serif;
	font-weight: bold;
	font-size: 4rem;
	cursor: pointer;
	border: none;
	margin: .1em;
}

.home {
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.home:hover {
	transform: scale(1.17);
}

h1 {
	color: #2b243c;
}

button {
	cursor: pointer;
}


/* Кнопка */

.knobs,
.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.button {
	position: absolute;
	top: 40px;
	right: 30px;
	width: 74px;
	height: 36px;
	/* margin: -20px auto 0 auto; */
	overflow: hidden;
}

.button.r,
.button.r .layer {
	border-radius: 100px;
}

.button.b2 {
	border-radius: 2px;
}

.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs {
	z-index: 2;
}

.layer {
	width: 100%;
	background-color: #ebf7fc;
	transition: 0.3s ease all;
	z-index: 1;
}


/* Button 16 */
#button-16 .knobs:before {
	content: "YES";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 20px;
	height: 10px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 9px 4px;
	background-color: #03a9f4;
	border-radius: 2px;
	transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-16 .checkbox:active+.knobs:before {
	width: 46px;
}

#button-16 .checkbox:checked:active+.knobs:before {
	margin-left: -26px;
}

#button-16 .checkbox:checked+.knobs:before {
	content: "NO";
	left: 42px;
	background-color: #f44336;
}

#button-16 .checkbox:checked~.layer {
	background-color: #fcebeb;
}

.mode {
	position: absolute;
	top: 40px;
	right: 50px;
	display: none;
}


h4 {
	font-family: 'Courier New';
}

.active {
	display: block;
}