/* BASICS */

* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

h1 {
	margin: 0;
}

body {
	margin: 0;
	height: 100vh;
	position: relative;
}

select,
button {
	cursor: pointer;
}

canvas {
	background: url('../img/graphics/transperant-background.svg') 0% 0%/16px;
	outline: solid #bbb;
}

.editor {
	display: flex;
	margin: 0 auto;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #add5f563;
	align-items: center;
	height: 650px;
	justify-content: space-around;
}

.control {
	max-width: 600px;
	display: flex;
	height: 350px;
	margin-top: -50px;
	flex-direction: column;
	justify-content: space-between;
}

input[type='text'] {
	padding: 5px;
}

.manipulation-with-text {
	display: flex;
	justify-content: space-around;
}

.control * {
	height: 30px;
	min-width: 50px;
	border-radius: 5px;
	padding: 0;
}

.control button {
	border: none;
}

.control [type="text"] {
	margin-top: 1rem;
	height: 50px;
	font-size: 1.5rem;
	width: 100%;
}


.control input[name="font-size"] {
	font-size: 1.5rem;
	width: 60px;
}

.control [type="color"] {
	cursor: pointer;
}


.control .font option[value="sans-serif"] {
	font-family: sans-serif;
}

.control .font option[value="impact"] {
	font-family: impact;
}

.control .font option[value="sans-serif"] {
	font-family: sans-serif;
}

.control .font option[value="Arial"] {
	font-family: arial;
}

.control .font option[value="serif"] {
	font-family: serif;
}

.control .font option[value="arabolic"] {
	font-family: arabolic;
}

.control .font option[value="waltograph"] {
	font-family: waltograph;
}

.control .font option[value="vodka"] {
	font-family: vodka;
}

.control .font option[value="propaganda"] {
	font-family: propaganda;
}

.control .font option[value="killigrew"] {
	font-family: killigrew;
}

.control .font option[value="kaushan-script"] {
	font-family: kaushan-script;
}

.control .font option[value="karate"] {
	font-family: karate;
}

.control .font option[value="ben-zion"] {
	font-family: ben-zion;
}

.img-container>img {
	object-fit: cover;
	width: 100%;
	align-self: stretch;
}

@font-face {
	font-family: arabolic;
	src: url('../fonts/arabolical/ARABOLIC.ttf');
}

@font-face {
	font-family: ben-zion;
	src: url('../fonts/ben_zion/benzion.ttf');
	/* add variations */
}

@font-face {
	font-family: karate;
	src: url('../fonts/karate/Karate.ttf');
}

@font-face {
	font-family: kaushan-script;
	src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf');
}

@font-face {
	font-family: killigrew;
	src: url('../fonts/killigrew/Killig.ttf');
}

@font-face {
	font-family: propaganda;
	src: url('../fonts/propaganda/propaganda.ttf');
}

@font-face {
	font-family: vodka;
	src: url('../fonts/vodka/vodka.ttf');
}

@font-face {
	font-family: waltograph;
	src: url('../fonts/waltograph/waltograph42.otf');
}

#meme {
	display: none;
}

h1 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

header {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #466eaf;
	color: #fff;
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

select.font {
	font-size: 20px;
}

select option {
	font-size: 20px;
	width: 100px;
}


img {
	width: 70px;
}

button {
	background-color: none;
}

.save {
	width: 20px;
	cursor: pointer;
}

.save img {
	transform: scale(1.2);
}

.save:hover {
	transform: scale(1.3);
}

.save:active {
	transform: scale(1.2);
}

.manipulation-with-text button:nth-child(1) img,
.manipulation-with-text button:nth-child(2) img {
	height: 30px;
}

.manipulation-with-text button img {
	background-color: #466eaf5c;
	padding: 5px 0;
}

.manipulation-with-text button:hover {
	background-color: #466eafa7;
}

.manipulation-with-text button:active {
	transform: scale(0.9);
}