/* BASICS */

* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

h1 {
	margin: 0;
}

body {
	/* background:rgb(88, 87, 85); */
	margin: 0;
	height: 100vh;
	position: relative;
}

select,
button {
	cursor: pointer;
}

nav,
footer {
	background-color: dimgray;
}


canvas {
	background: url('../img/graphics/transperant-background.svg') 0% 0%/16px;
	outline: solid #bbb;
}

.trending-kewords {
	height: 100px;
}


.flex.editor {
	margin: 0 auto;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #efefef;
	align-items: center;
	height: 650px;
}

.save-modal {
	display: none;
}


.control {
	max-width: 600px;
}


.control * {
	height: 50px;
	min-width: 50px;
	border-radius: 5px;
	/* font-size: 2rem; */
	padding: 0;
}

.control button {
	border: none;
}

.control [type="text"] {
	grid-area: 1/span 10;
	margin-top: 1rem;
	height: 3rem;
	font-size: 1.5rem;
	width: 100%;
	/* background-color: lightcyan; */
}


.control input[name="font-size"] {
	/* background-color: lightcyan; */
	width: 60px;
}

.control [type="color"] {
	cursor: pointer;
}



.control option.align-center::before {
	content: 'center';
}

.control option.align-right::before {
	content: 'right';
}

.control .font option[value="sans-serif"] {
	font-family: sans-serif;
}

.control .font option[value="impact"] {
	font-family: impact;
}

.control .font option[value="sans-serif"] {
	font-family: sans-serif;
}

.control .font option[value="Arial"] {
	font-family: arial;
}

.control .font option[value="serif"] {
	font-family: serif;
}

.control .font option[value="arabolic"] {
	font-family: arabolic;
}

.control .font option[value="waltograph"] {
	font-family: waltograph;
}

.control .font option[value="vodka"] {
	font-family: vodka;
}

.control .font option[value="propaganda"] {
	font-family: propaganda;
}

.control .font option[value="killigrew"] {
	font-family: killigrew;
}

.control .font option[value="kaushan-script"] {
	font-family: kaushan-script;
}

.control .font option[value="karate"] {
	font-family: karate;
}

.control .font option[value="ben-zion"] {
	font-family: ben-zion;
}

.img-container>img {
	object-fit: cover;
	width: 100%;
	align-self: stretch;
}

.flex {
	display: flex;
}

.flex.justify-center {
	justify-content: center;
}

.flex.space-between {
	justify-content: space-between;
}

.flex.space-around {
	justify-content: space-around;
}

.flex.align-center {
	align-items: center;
}

.clean-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: arabolic;
	src: url('../fonts/arabolical/ARABOLIC.ttf');
}

@font-face {
	font-family: ben-zion;
	src: url('../fonts/ben_zion/benzion.ttf');
	/* add variations */
}

@font-face {
	font-family: karate;
	src: url('../fonts/karate/Karate.ttf');
}

@font-face {
	font-family: kaushan-script;
	src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf');
}

@font-face {
	font-family: killigrew;
	src: url('../fonts/killigrew/Killig.ttf');
}

@font-face {
	font-family: propaganda;
	src: url('../fonts/propaganda/propaganda.ttf');
}

@font-face {
	font-family: vodka;
	src: url('../fonts/vodka/vodka.ttf');
}

@font-face {
	font-family: waltograph;
	src: url('../fonts/waltograph/waltograph42.otf');
}

#meme {
	display: none;
}

h1 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

header {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #466eaf;
	color: #fff;
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}


/* option {
	font-size: 12px;
} */

select.font {
	font-size: 20px;
}

select option {
	font-size: 20px;
	width: 100px;
}