  /*zeroing out*/

  * {
  	padding: 0;
  	margin: 0;
  	border: 0;
  }

  *,
  *:before,
  *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  }

  :focus,
  :active {
  	outline: none;
  }

  a:focus,
  a:active {
  	outline: none;
  }

  nav,
  footer,
  header,
  aside {
  	display: block;
  }


  html,
  body {
  	width: 100%;
  	font-size: 100%;
  	line-height: 1;
  	font-size: 14px;
  	-ms-text-size-adjust: 100%;
  	-moz-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
  }

  input,
  button,
  textarea {
  	font-family: inherit;
  }

  input::-ms-clear {
  	display: none;
  }

  button {
  	cursor: pointer;
  	transition: 0.6s;
  }

  button::-moz-focus-inner {
  	padding: 0;
  	border: 0;
  }

  a,
  a:visited {
  	text-decoration: none;
  }

  a:hover {
  	text-decoration: none;
  }

  ul li {
  	list-style: none;
  }

  img {
  	vertical-align: top;
  	transition: all ease 1s;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  	font-size: inherit;
  	font-weight: 400;
  }


  /*--------------------*/

  body {
  	margin: 0;
  	background-color: rgba(103, 37, 168, 1);
  	/* width: 100vw; */
  }

  .header {
  	margin-top: 0;
  	display: flex;
  	flex-direction: row;
  	width: 100%;
  	height: 88px;
  	/* background-color: rgba(0, 0, 255, 0.116); */
  }

  main {
  	background-color: rgba(246, 246, 250, 1);
  	border-radius: 24px;
  	display: grid;
  	grid-template-columns: 66% 33%;
  	height: 100%;
  	/* background-color: white; */

  }

  .section-details {
  	width: 891px;
  	border: 1px solid black;
  }

  .section-final {
  	background-color: white;
  	border-radius: 16px;
  	width: 429px;
  	height: 572px;

  }



  .shopping-cart {
  	width: 891px;
  	height: 527px;
  }

  .missing-goods {
  	width: 891px;
  	height: 400px;
  }

  .delivery-way {
  	width: 891px;
  	height: 362px;
  	background-color: white;
  	border-radius: 16px;
  	margin: 16px;
  }

  .payment-way {
  	width: 891px;
  	height: 136px;
  	background-color: white;
  	border-radius: 16px;
  	margin: 16px;
  }

  .recipient {
  	width: 891px;
  	height: 216px;
  	background-color: white;
  	border-radius: 16px;
  	margin: 16px;
  }

  footer {
  	color: white;
  	width: 100%;
  	height: 64px;
  	text-align: center;
  	/* padding-top: 12px; */
  }