  /*zeroing out*/

  * {
  	padding: 0;
  	margin: 0;
  	border: 0;
  }

  *,
  *:before,
  *:after {
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  }

  :focus,
  :active {
  	outline: none;
  }

  a:focus,
  a:active {
  	outline: none;
  }

  nav,
  footer,
  header,
  aside {
  	display: block;
  }


  html,
  body {
  	width: 100%;
  	font-size: 100%;
  	line-height: 1;
  	font-size: 14px;
  	-ms-text-size-adjust: 100%;
  	-moz-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
  }

  input,
  button,
  textarea {
  	font-family: inherit;
  }

  input::-ms-clear {
  	display: none;
  }

  button {
  	cursor: pointer;
  	transition: 0.6s;
  }

  button::-moz-focus-inner {
  	padding: 0;
  	border: 0;
  }

  a,
  a:visited {
  	text-decoration: none;
  }

  a:hover {
  	text-decoration: none;
  }

  ul li {
  	list-style: none;
  }

  img {
  	vertical-align: top;
  	transition: all ease 1s;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  	font-size: inherit;
  	font-weight: 400;
  }


  /*--------------------*/

  body {
  	margin: 0;
  	background-color: rgba(103, 37, 168, 1);
  	/* width: 100vw; */
  }

  .header {
  	margin-top: 0;
  	display: flex;
  	flex-direction: row;
  	/* width: 100%; */
  	height: 46px;
  	margin: 20px 20px 20px 24px;


  }

  main {
  	background-color: rgba(246, 246, 250, 1);
  	border-radius: 24px;
  	display: grid;
  	grid-template-columns: 66% 33%;
  	height: 100%;
  }

  .section-details {
  	width: 891px;
  	border: 1px solid black;
  }

  .section-final {
  	background-color: white;
  	border-radius: 16px;
  	width: 429px;
  	height: 572px;

  }



  .shopping-cart {
  	width: 891px;
  	height: 527px;
  }

  .missing-goods {
  	width: 891px;
  	height: 400px;
  }

  .delivery-way {
  	width: 891px;
  	height: 362px;
  	background-color: white;
  	border-radius: 16px;
  	margin: 16px;
  }

  .payment-way {
  	width: 891px;
  	height: 136px;
  	background-color: white;
  	border-radius: 16px;
  	margin: 16px;
  }

  .recipient {
  	width: 891px;
  	height: 216px;
  	background-color: white;
  	border-radius: 16px;
  	margin: 16px;
  }

  footer {
  	color: white;
  	width: 100%;
  	height: 64px;
  	text-align: center;
  	/* padding-top: 12px; */
  }

  h1 {
  	font-family: Segoe UI;
  	margin-left: 16px;
  	width: 110px;
  	color: white;
  	font-size: 28px;
  	font-style: normal;
  	font-weight: 600;
  	line-height: 24px;
  	font-variant: all-small-caps;
  	letter-spacing: 0.56px;
  	margin-top: -2px;
  }

  .burger {
  	width: 48px;
  	height: 48px;
  	border-radius: 8px;
  	border: 1px solid white;
  	display: flex;
  	justify-content: center;
  	/* align-content: center; */
  }

  .line-burger {
  	position: relative;
  	width: 28px;
  	background-color: white;
  	height: 4px;
  	align-self: center;
  	border-radius: 2px;
  }

  .line-burger::after {
  	content: "";
  	width: 28px;
  	background-color: white;
  	height: 4px;
  	border-radius: 2px;
  	position: absolute;
  	top: 10px;
  }

  .line-burger::before {
  	content: "";
  	width: 28px;
  	background-color: white;
  	height: 4px;
  	border-radius: 2px;
  	position: absolute;
  	bottom: 10px;
  }

  #search {
  	position: relative;
  	height: 48px;
  	width: 71.5%;
  	border-radius: 36px;
  	margin-left: 28px;

  }

  #search input {
  	height: 48px;
  	width: 100%;
  	background: rgba(255, 255, 255, 0.20);
  	padding-left: 20px;
  	border-radius: 36px;
  }

  #search input,
  #search input::placeholder {
  	color: var(--system-white, #FFF);
  	font-family: Segoe UI;
  	font-size: 18px;
  	font-style: normal;
  	font-weight: 400;
  	line-height: 24px;
  	opacity: 0.5;
  	padding-bottom: 5px;
  }

  .loop {
  	position: absolute;
  	top: 12px;
  	right: 20px;
  }

  .profile {
  	margin-left: 34px;
  	color: white;
  	font-family: Segoe UI;
  	font-size: 13px;
  	font-style: normal;
  	font-weight: 400;
  	line-height: 16px;
  }

  .profile div:first-child {
  	display: flex;
  	justify-content: center;
  	padding-bottom: 5px;
  	margin-top: -3px;

  }


  .shopping-cart-sign {
  	margin-left: 42.5px;
  	color: white;
  	font-family: Segoe UI;
  	font-size: 13px;
  	font-style: normal;
  	font-weight: 400;
  	line-height: 16px;
  }

  .shopping-cart-sign div:first-child {
  	display: flex;
  	justify-content: center;
	margin-right: 5px;
  	padding-bottom: 5px;
  	margin-top: -3px;
  }